@mixin pad {
    @media(max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: 576px) {
        @content;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    @include pad {
        max-width: 720px;
    }
    @include mobile {
        max-width: 540px;
    }
}

.box {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
}